@font-face { 
  font-family: "Spoqa Hans Bold";
  src : url("./assets/fonts/SpoqaHanSans_all/SpoqaHanSans_subset/Spoqa Han Sans Bold.woff")
}
@font-face { 
  font-family: "Spoqa Hans Regular";
  src : url("./assets/fonts/SpoqaHanSans_all/SpoqaHanSans_subset/Spoqa Han Sans Regular.woff")
}
